@keyframes pisca {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.urn {
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;
    border-radius: 5px;
}
.screen {
    width: 500px;
    height: 331px;
    background: linear-gradient(to right, #E8E8E8, #CCC);
    border: 2px solid #999;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.key {
    background-color: #222;
    margin-left: 30px;
    padding: 17px 6px;
    border-radius: 6px;
}
.number--line {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.other--line {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.key--button {
    margin: 10px;
    width: 55px;
    height: 40px;
    background: linear-gradient(to right, rgb(20, 20, 20), #141414);
    box-shadow: 3px 3px 0px #000;
    font-size: 22px;
    color: #FFF;
    align-items: center;
    padding-left: 15px;
    display: flex;
    justify-content: right;
    cursor: pointer;
    border-radius: 4px;
}
.btn--white {
    margin: 5px 12px 2px 12px;
    width: 85px;
    height: 40px;
    background: linear-gradient(to right, #FFF, #EEE);
    box-shadow: 4px 4px 0px #111;
    font-size: 17px;
    font-weight: bold;
    color: #444;
    align-items: flex-start;
    padding: 2px 3px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
}
.btn--corrects {
    margin: 5px 12px 2px 12px;
    width: 85px;
    height: 40px;
    background: linear-gradient(to right, #ec8638, #e78942);
    box-shadow: 4px 4px 0px #111;
    font-size: 17px;
    font-weight: bold;
    color: #222;
    align-items: flex-start;
    padding: 2px 3px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
}
.btn--confirm {
    margin: 5px 12px 2px 12px;
    width: 85px;
    height: 49px;
    background: linear-gradient(to right, #2dac62, #3cb66f);
    box-shadow: 4px 4px 0px #111;
    font-size: 19px;
    font-weight: bolder;
    font-stretch: extra-condensed;
    color: #222;
    align-items: flex-start;
    padding: 2px 4px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
}
.first-division {
    flex: 1;
    display: flex;
}
.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.text {
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.candidate {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.digits {
    height: 75px;
}
.resume {
    flex: 1;
    line-height: 25px;
}
.numero {
    display: inline-block;
    width: 40px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    line-height: 53px;
    font-size: 22px;
}
.pisca {
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.right {
    width: 90px;
    padding: 15px 10px 0px 0px;
}
.images {
    text-align: center;
    font-size: 10px;
    padding-bottom: 5px;
}
.images img {
    width: 90%;
    border: 1px solid #000;
}
.second-division {
    height: 50px;
    font-size: 10px;
    border-top: 2px solid #999;
    padding: 4px 18px;
}